.sheb{font-style: italic; color: aqua;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size: large;}
#di{color: greenyellow; font-style: italic;font-weight: 100px;font-family: 'Times New Roman', Times, serif; }
#okay{color: blue; font-style: oblique; font-size: x-large; font-weight: 800px;}
.bhai{color: goldenrod; font-style: unset; font-weight: bold;}
#ko{}